<h1>New Post</h1>

<%= form_for(@post) do |f| %>	
	Title   <br> <%= f.text_field :title %>    <br>
	Content <br> <%= f.text_area  :content, :class => 'form-control', :rows => 10 , :cols => 100  %><br>
	<%= f.submit 'Create Post', :class => 'btn btn-primary' %>
<% end %>
<h1>My Posts</h1>
<% for post in @posts%>
	<table class="table">
		<tr>
			<th><%= link_to post.title , post_path(post) %> </th>
			<th><%= link_to 'Delete',post, method: :delete %></th>
		</tr>
	</table>
<% end %>